<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Movies</title>
  <link rel="stylesheet" href="../public/style.css">
</head>

<body>

  <!-- attention à la version de ejs. La syntaxe a changé par rapport au tuto Udemy. -->
  <%- include('./partials/header') %>

  <h1>Express Movies : le site des cinéphiles</h1>

  <div class="central">
    Etes-vous plutôt films ou séries ?
  </div>

  <%- include('./partials/footer') %>

</body>

</html>